
button{
  font-family: 'Bellota Text', sans-serif;
  font-weight: 400;
  text-align: center;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}

button:active,
button:focus,
button:focus-within,
button:focus-visible,
button:visited{
  border: none;
  outline: 0;
}

button.btn-primary, button.btn-secondary, button.btn-text{
  font-size: 16px;
  padding: 8px 16px;
}

button.btn-primary.large,
button.btn-secondary.large,
button.btn-text.large{
  font-size: 24px;
  padding: 8px 24px;
  line-height: 32px;
  margin-top: 24px;
}

button.btn-primary {
  background: #28282E;
  color: white;
}

button.btn-primary:hover,
button.btn-primary.large:hover{
  background: black;
}

button.btn-secondary{
  background: none;
  border: 1px #28282E;
  color: #28282E;
}

button.btn-text{
  background: none;
  border: 0;
}

button.btn-secondary:hover,
button.btn-secondary.large:hover{
  background: white;
}
