/* Box sizing rules */
*, *::before, *::after {box-sizing: border-box;}

/* Remove default padding */
ul[class], ol[class] {padding: 0;}

/* Remove default margin */
body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption,
blockquote, dl, dd {margin: 0;}

/* Set core body defaults */
.wrapper {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],ol[class] {list-style: none;}

/* A elements that don't have a class get default styles */
a:not([class]) {text-decoration-skip-ink: auto;}

/* Make images easier to work with */
img {max-width: 100%;display: block;}

/* Natural flow and rhythm in articles by default */
article > * + * {margin-top: 1em;}

/* Inherit fonts for inputs and buttons */
input,button,textarea,select {font: inherit;}

/* --------------------------- MAIN CSS ------------------------------*/
h1{
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 700;
}

body{
  background-image: url('img/background.png');
  background-position: top left;
  background-repeat: repeat;
  background-size: auto;
  font-family: 'Bellota Text', sans-serif;
  font-weight: 400;
  position: relative;
  color: #28282E;
}

.container{
  position: fixed;
  top: 8em;
  width: 100vw;
  height: calc(100vh - 16em);
  overflow-y: scroll;
}

.hello{
  font-size: 24px;
  line-height: 44px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #28282E;
  font-weight: normal;
  margin-top: 2em;
  padding-left: 32px;
  position: fixed;
}

/* --------------------------- NAVIGATION ------------------------------*/
.navbar{
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 2em;
  z-index: 999999999999;
  padding-bottom: 3em;
}

nav{
  position: relative;
}

.navbar img{
  height: 56px;
  display: inline-block;
}

#mobile-menu{
  display: none;
  text-transform: uppercase;
  color: #28282E;
  font-weight: 600;
  font-size: 16px;
  margin:0;
  margin-bottom: 2em;
  letter-spacing: 0.1em;
  position: absolute;
  right: 3em;
  text-decoration: none;
}

#menu-mobile-button{
  display: none;
}

nav a{
  text-transform: uppercase;
  color: #28282E;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  padding: 1em 2em;
  letter-spacing: 0.1em;
  vertical-align: top;
}

nav a img{
  height: 16px !important;
  vertical-align: -1px;
}

nav a:hover{
  color: black !important;
  font-weight: 600 !important;
  text-decoration: overline;
}

nav a:visited{
  color: purple;
  font-weight: 600;
}

.active{
  color: black !important;
  font-weight: 600 !important;
}

a.logout{}
a.logout:visited,a.logout:active{}

.menu-lang {
  display: inline-block;
  vertical-align: top;
  margin-right: 0;
  padding: 1em 2em;
}

.menu-lang a.menu-items {
  margin-left: 0.5em;
  padding: 0;
}


.signature{
  font-size: 11px;
  position: relative;
  top: 2em;
}
/* --------------------------- NAVIGATION ------------------------------*/

/* --------------------------- SECTIONS ------------------------------*/

.content{
  min-height: 1em;
  display: flex;
}

.page-section{
  padding: 0 2em;
  flex: 100% 1 0;
}

/* --------------------------- PRESENÇA / FAQS ------------------------------*/
.page-section#presenca{
  margin-top: 32px;
  margin-bottom: -16px;
  padding: 0;
}

.page-section h3{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.1em;
  margin-bottom: 8px;
}

.cards-row{
  margin-top: 24px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.faq-card{
  background: transparent;
  border: 1px solid #28282E;
  box-shadow: 0px 2px 4px rgba(99, 117, 137, 0.2);
  border-radius: 0;
  padding: 16px;
  padding-bottom: 24px;
  flex: 1 1 25%;
  margin-right: 16px;
  margin-bottom: 16px;
}

.faq-card#ghost{
  background:none;
  border: none;
  box-shadow: none;
  height: 0px;
  padding: 0;
  margin:0;
}

.faq-card p{
  font-size: 16px;
}

.card{
  background: transparent;
  border: 1px solid #28282E;
  box-shadow: 0px 2px 4px rgba(40, 40, 46, 0.2);
  border-radius: 0px;
  padding: 16px;
  padding-bottom: 24px;
  flex: 0 1 288px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.card h6,
.faq-card h6{
  margin:0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.faq-card h6{
  margin-bottom: 16px;
  color: #28282E;
}

.card button{
  margin-top: 24px;
  width: 100%;
}

span.confirmado {
    font-size: 16px;
    color: #249B69;
    font-style: italic;
}

span.confirmado_nao {
    font-size: 16px;
    color: #C01207;
    font-style: italic;
}
/* --------------------------- PRESENÇA / FAQS ------------------------------*/

/* --------------------------- LOCATION -------------------------------*/

.location-title{
  color: #28282E;
  font-weight: 700;
  font-size: 18px;
}

.container-quinta{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-quinta img {
  width: 70%;
}

.container-quinta .location-details {
  flex: 1 0 25%;
  padding: 0;
  padding-left: 1em;
  border: none;
  border-left: 4px #28282E double;
  margin: 0;
  margin-left: 16px;
  text-align: left;
}
/* --------------------------- LOCATION -------------------------------*/



/* --------------------------- CONTACTOS ------------------------------*/

.contactos{
  display: flex;
  margin-top: 24px;
}

.contacto-noiva,
.contacto-noivo{
  text-align: center;
}

.monograma img{
  width: 23px;
}

.noiva, .noivo{
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: #28282E;
}

.contacto-noiva a, .contacto-noivo a{
  color: #28282E;
}

/* --------------------------- CONTACTOS ------------------------------*/


/* --------------------------- MODALS ------------------------------*/

.modal-overlay{
  /*display: none;*/
  height: 100%;
  width: 100%;
  background: rgba(79, 85, 91, 0.4);
  position: fixed;
  top: 0;
  left: 0;
}

.modal-card{
  background: white;
  border: 1px solid #28282E;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  width: fit-content;
  margin: auto;
  margin-top: 4em;
  padding: 2em;
  position: relative;
}

.modal-title{
  color: #28282E;
  font-weight: 700;
}

.modal-card #close{
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}

.form-container{
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}

.form-field{
  display: flex;
  flex-direction:row;
}

#field-presenca{
  margin-bottom: 1em;
}

.form-label{
  margin-bottom: 2em;
  width: 200px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-right: 1em;
  font-size: 14px;
}

.radio-container,
input[type="email"],
input[type="tel"],
input[type="text"]{
  margin-bottom: 2em;
  font-size: 14px;
  margin-top: -5px;
}

input[type="radio"]{
  height: 24px;
  width: 24px;
  border: 1px solid #28282E;
  vertical-align: bottom;
  margin-right: 8px;
}

.radio-label{
    display: block;
    margin-bottom: 8px;
}

.radio-label:first-child{
  margin-left: 0;
}

input[type="email"],
input[type="tel"],
input[type="text"],
textarea{
  width: 320px;
  font-size: 14px;
  border: 1px solid #28282E;
  border-radius: 0px;
  padding: 8px;
  margin-top: -8px;
}

.button-container{
  width: 100%;
  text-align: right;
  margin-top: 2em;
}

form.adulto,
form.plus-one,
form.kid-known{
  display: none;
}


.modal-loading {
  background-color: white;
}
img#loading {
    margin: auto;
}
p.loading-txt {
    margin-top: 1em;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
/* --------------------------- MODALS -----------------------------------*/



/* --------------------------- GIFTS -----------------------------------*/

.gift-card{
  display: flex;
  flex-direction: column;
  flex: 0 1 440px;
  align-items: flex-start;
  border: 1px solid #28282E;
  margin-right: 1em;
  margin-bottom: 2em;
  background: transparent;
  box-shadow: 0px 2px 4px rgba(40, 40, 46, 0.2);
  border-radius: 0px;
  padding: 1em;
  padding-bottom: 2em;
  justify-content: space-between;
}

.gift-img {
    width: 100%;
    max-height: 220px;
    overflow: hidden;
}

.gift-content{
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
}

.gift-location{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.gift-description{
  margin-top: 1em;
}

.n-contributors{
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 14px;

}

button.contribute{
  width: 100%;
  max-width: 410px;
  margin: 0 auto;
}


/* --------------------------- MEDIA QUERIES ---------------------------*/

@media all and (max-width: 1024px) {

  #mobile-menu{
    display: block;
  }

  #menu-normal{
    display: none;
  }

  .navbar{
    position: fixed !important;
    background: #f9f9f9;
    z-index: 99999999999999999;
    height: 100%;
    margin-top: 0;
    right: 0 !important;
    width: 320px;
    top: 0;
    bottom: 0;
    padding: 2em;
    width: 100%;
    height: 100vh;
  }
  nav a{
    padding: 1em 0;
  }

  #menu img,
  #menu a,
  #menu div,
  #menu p{
    display: block;
  }

  .menu-lang{
    position: initial;
    padding: 1em 0;
  }
  .menu-lang a{
    display: inline-block !important;
    margin-left: 0 !important;
  }

  .menu-lang a:nth-child(2){
    margin-left: 1em !important;
  }

  .close-icon{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em 0;
  }

  .close-icon img{
    height: 100% !important;
  }

  .signature {
    margin-top: 4em;
  }

  #menu-mobile-button{
    display: block;
    position: fixed;
    bottom: 0;
    padding: 0.5em;
    margin: 1em;
    right: 0;
    background: white;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #28282E;
    font-weight: normal;
    border: 1px solid #28282E;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  }

  #menu-mobile-button img {
    display: inline-block;
    vertical-align: baseline;
    width: 16px;
  }

  body{
    padding-bottom: 8em;
  }

  .page-section#contactos{
    margin-bottom: 8em;
  }

  .hello {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #28282E;
    font-weight: normal;
    margin-top: 2em;
    padding-left: 32px;
    position: initial;
  }

  .container {
    position: initial;
    width: 100vw;
    margin-top: 1em;
    top: auto;
    height: auto;
  }

  .content {
    min-height: 1em;
    display: flex;
    flex-direction: column;
  }

  .page-section {
    padding: 0 2em;
    flex: 100% 1 0;
    flex-direction: column;
    margin-top: 4em;
  }

  .page-section:first-child{
    margin-top: 1em;
  }

  .container-quinta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .container-quinta img {
    width: 100%;
  }

  .container-quinta .location-details {
    display: block;
    padding: 0;
    border: none;
    margin: 0;
    text-align: left;
    margin-top: 1em;
  }

  .modal-overlay{
    position: absolute;
  }

  .modal-card{
    width: 90% !important;
    padding: 1.5em;
    margin-top: 2em;
  }

  .form-container{
    padding: 0;
    display: block;
  }

  .form-field{
    display: block;
  }

  #field-presenca{
    margin-bottom: 2em;
  }

  .form-label{
    text-align: left;
    display: block;
    width: 100%;
  }

  .radio-container, input[type="email"],
  input[type="tel"], input[type="text"] {
    margin-bottom: 2em;
    display: block;
    width: 100%;
  }

  textarea{
    min-height: 80px;
    width: 100%;
  }

  .contactos{
    display: block;
  }

  .contacto-noiva {
    text-align: left;
    margin-right:0;
    margin-bottom: 1em;
  }

  .contactos .monograma {
    display: none;
  }

  .noiva, .noivo {
    display: inline-block;
    margin-right: .5em;
  }

  .faq-card {
    flex: 1 1 100%;
    margin-right: 0;
  }


}
